header {
  position: sticky;
  top: 0;
  background: white;
  padding-bottom: 2em;
}

label {
  display: block;
}

pre {
  border: 2px solid navy;
  background: lightblue;
  padding: 1em;
  display: inline-block;
  border-radius: 5px;
}

.correct {
  border: 2px solid green;
  background: lightgreen;
  padding: 1em;
  border-radius: 5px;
}

.incorrect {
  border: 2px solid red;
  background: lightpink;
  padding: 1em;
  border-radius: 5px;
}

.confetti {
  font-size: 2em;
}

button[disabled] {
  opacity: 0.5;
}
