<header>
  <h1>Joep's Code Challenge</h1>

  <ng-container *ngIf="showConfetti"
    ><p class="confetti">🎉 🎉 🎉 🎉 🎉 🎉</p></ng-container
  >

  <ng-container *ngIf="isAnswerCorrect">
    <div class="correct">
      <p>
        Woohoo Joep je bent geweldig! Dat is helemaal correct! Je bent
        fantastisch!
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="isAnswerIncorrect">
    <p class="incorrect">
      Wauw Joep, dat was bijna goed! Probeer nog eens, ik weet zeker dat je er
      zult komen.
    </p>
  </ng-container>

  <ng-container *ngIf="isAllCorrect">
    <p class="correct">
      WOOHOO! GEWELDIG! JE HEBT HET VOOR ELKAAR!
      <br />
      Nou ga je cadeautjes verzamelen jeeee! Vind ze.... in de prullenbak!
    </p>
  </ng-container>
</header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let question of questions">
    <label>{{ question.id }}. {{ question.title }}</label>
    <pre>{{ question.body }}</pre>

    <label *ngFor="let option of ['a', 'b', 'c', 'd']">
      <input type="radio" [value]="option" [formControlName]="question.id" />
      <span [innerHtml]="question.options[option]"></span>
    </label>

    <button
      type="button"
      (click)="onCheck(question.id)"
      [disabled]="!form.get(question.id).value"
    >
      Check!
    </button>
  </ng-container>

  <hr />
  <button type="submit" [disabled]="!form.valid">Submit!</button>
</form>

<hr />

<img src="assets/sinterklaas.jpg" alt="Sinterklaas" />

<p>
  Toelichting: <a [href]="explanationUrl">{{ explanationUrl }}</a>
</p>
